* {
    margin: 0;
    padding: 0;
}

.appWrapper {
    background-image: url(../../../images/004.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

.error {
    border: red 3px solid;
}

.errorMessage {
    color: red;
}

.nameInput {
    font-size: 18px;
    padding: 15px;
    margin: 15px;
}

.nameButton {
    margin: 10px;
    padding: 10px;
    color: rgb(155, 107, 18);
    background-color: wheat;
    border-radius: 10px;
}

.countName {
    margin: 15px;
    font-size: 18px;
    color: wheat;
}

.text {
    color: darkcyan;
}