.AffairsHeader {
    font-size: 30px;
    font-weight: bolder;
    color: orange;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 15px;
    text-shadow: 0 0 10px black;
}

.AffairsContainer {
    display: flex;
    flex-direction: column;
    width: 550px;
    margin-bottom: 25px;
    padding-left: 50px;
}

.MappedAffairs {
    color: wheat;
    font-size: 18px;
    text-align: center;
}

.AffairWrapper {
    display: flex;
    justify-content: center;
}

.AffairItem {
    flex-basis: 100px;
    text-align: left;
    padding-bottom: 15px;
}

.RemoveButton {
    padding: 2px 10px;
    background: linear-gradient(to top left, teal, cadetblue, PaleTurquoise, yellow);
    border-radius: 10px;
    box-shadow: 0 0 10px darkblue;
}

.RemoveButton:hover {
    opacity: 0.5;
}

.TaskButton {
    text-align: center;
}

.TaskButton button {
    margin: 10px;
    padding: 10px;
    color: rgb(155, 107, 18);
    font-weight: bolder;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(to top left, teal, cadetblue, PaleTurquoise, yellow);
    box-shadow: 0 0 10px darkblue;
}

.TaskButton button:hover {
    opacity: 0.5;
}

.active {
    opacity: 0.5;
}

.High {
    color: aqua;
}

.Middle {
    color: coral;
}

.Low {
    color: firebrick;
}