.input {
    padding: 15px;
    margin: 15px 15px 0px 15px;
    outline: none;
    font-size: 18px;
    border-radius: 3px;
}

.superInput {
    border: 3px solid greenyellow;

}

.errorInput {
    border: 3px solid red;
    background: burlywood;
}

.error {
    display: flex;
    flex-direction: column;
    color: red;
    margin-left: 15px;
}
