.blue {
    border-bottom: 5px solid blue;
}

.column {
    display: flex;
    flex-direction: column;
    width: 550px;
    align-items: center;
    margin-bottom: 25px;
}

.disabled {
    opacity: 0.5;
}