.defaultButton {
    margin: 10px;
    padding: 10px;
    color: mediumslateblue;
    font-weight: bolder;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(to top left, teal, cadetblue, PaleTurquoise, yellow);
    box-shadow: 0 0 10px darkblue;
    width: 90px;
}

.defaultButton:focus {
    opacity: 0.5;
}

.defaultButton:hover {
    opacity: 0.5;
}

.redButton {
   color: firebrick;
}